
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href=""> <img src="../../assets/img/imdb.png" alt=""></a>
               
            </div>
            <div class="col">
               
                <form action="" class="costum">
                    <input #serchinput class="serch-inp " (keyup)="serchMovie($event)" (blur)="hideserch()"
                      placeholder="Find Movies, TV Shows, Celebrities and More" value="" name="data-serch" type="text">
                      <ul class="serch-movie" *ngIf="searchResult">
                        <li *ngFor="let mov of searchResult.results">
                            <!-- <a  [routerLink]="'/MoviePage/' + mov.id "   class="">  -->
                                 {{mov.name}} <img class="img-small-size" src="{{mov.poster}}" alt="">
                                <!-- </a> -->
                        </li>
                    </ul>
                    <input type="hidden" name="data-chose" value="">
                    <h6 class="chose-serch"><span>ALL</span> <i class="fa-solid carett fa-caret-down"></i></h6>
                    <ul class="Chose">
                        <li data-chos="Movies">Movies</li>
                        <li data-chos="TV shows">TV shows</li>
                        <li data-chos="Celebrities">Celebrities</li>
                    </ul>
                    <button type='button' (click)="submitSerch(serchinput.value)" class="serch-btn">
                        <img src="../../assets/img/Search Icon.png" alt="">
                    </button>
                </form>
               
            </div>
            <div class="col">
                <div class="login">
                    <input type="hidden" name="data-author" value="">
                    <h6 class="text-uppercase">
                         <a routerLink="login"><span class="cursor-pointer">sign in</span></a> 
                          <i class="fa-solid carett fa-caret-down"></i>
                        </h6>
                        <ul class="Chose">
                            <li data-chos="Movies">Watchlist</li>
                            <li data-chos="TV shows">settings</li>
                            <li data-chos="Celebrities">Logout</li>
                        </ul>
                </div>
            </div>
            <div class="col">
                <div class="language">
                    <input type="hidden" name="data-language" value="">
                    <h6 class="text-uppercase"><span>language</span> <i class="fa-solid carett fa-caret-down"></i></h6>
                    <ul class="chose-language">
                        <li>KA</li>
                        <li>EN</li>
                        <li>TR</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>