<section class="topnav">
    <div class="container">
        <div class="flex-div">
            <img src="../../assets/img/imdb.png" alt="">
            <form  class="flex-div" action="">
                <div class="serch-content">
                    <input class="serch-inp "
                    placeholder="Find Movies, TV Shows, Celebrities and More" type="text">
                </div>
                 <div class="costum-select-serch">
                    <input type="hidden" name="data-chose" value="">
                    <h6 class=""><span>ALL</span> <i class="fa-solid carett fa-caret-down"></i></h6>
                    <ul class="Chose">
                        <li data-chos="Movies">Movies</li>
                        <li data-chos="TV shows">TV shows</li>
                        <li data-chos="Celebrities">Celebrities</li>

                    </ul>
                    <button class="serch-btn">
                        <img src="../../assets/img/Search Icon.png" alt="">
                    </button>
                 </div>

            </form>
            <div class="login">
                <input type="hidden" name="data-author" value="">
                <h6 class="text-uppercase"><span>sign in</span> <i class="fa-solid carett fa-caret-down"></i></h6>
            </div>
            <div class="language">
                <input type="hidden" name="data-language" value="">
                <h6 class="text-uppercase"><span>language</span> <i class="fa-solid carett fa-caret-down"></i></h6>
                <ul class="chose-language">
                    <li>KA</li>
                    <li>EN</li>
                    <li>TR</li>
                </ul>
            </div>
        </div>
    </div>

</section>