<div class="container-fluid">
    <div class="slider">
        <div class="slider-content">
            <div class="blur"></div>
            <img class="cover-img" src="../../assets/img/johnson.png" alt="">
            <div class="container">
                <div class="row">
                    <div class="card-body">
                        <div class="">
                            <h2 class="card-title">SKYSCRAPER <span>(2018)</span></h2>
                            <div class="movie-info">
                                <p class="rating-border">5.9</p>
                                <div class="movinf">
                                    <p>Ratings: <span>5.9</span>/10 from <span>137,182 users</span> &nbsp;
                                        Metascore:<span> 89</span>/100</p>

                                    <p>Reviews:<span>697 user</span> <span> 502 critic</span> &nbsp; <span>46</span>from
                                        <span> Metacritic.com</span>
                                    </p>


                                </div>

                            </div>
                            <div class="mov-subtitle">
                                <h3>summary</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis eum optio nihil quasi,
                                    sint inventore ex <br> assumenda, natus deserunt odio fugiat labore officia
                                    distincti
                                    aspernatur alias officiis mollitia! Ab, aut?<br>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis eum optio nihil
                                    quasi,
                                    sint inventore <br> ex assumenda, natus deserunt odio fugiat labore officia
                                    distinctio

                                    aspernatur alias officiis mollitia! Ab, aut?</p>
                            </div>
                            <div class="director-writer">
                                <p>Director:<span>Rawson Marshall Thurber </span> &nbsp; &nbsp; Writer: <span>Rawson
                                        Marshall Thurber</span></p>
                            </div>
                            <div class="stars-actor">
                                <p>Stars: </p>
                                <img src="../../assets/img/portrat duain.jpg" alt="">
                                <img src="../../assets/img/portrat duain.jpg" alt="">
                                <img src="../../assets/img/portrat duain.jpg" alt="">
                                <img src="../../assets/img/portrat duain.jpg" alt="">
                                <img src="../../assets/img/portrat duain.jpg" alt="">
                                <img src="../../assets/img/portrat duain.jpg" alt="">
                                <img src="../../assets/img/portrat duain.jpg" alt="">
                                <img src="../../assets/img/portrat duain.jpg" alt="">
                                <button class="more-btn">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                        <div class="wach-list"> 
                            <button class="trailer">+  &nbsp; &nbsp;  Wacht List</button>
                            <button class="trailer"> <i class="fa-solid carett fa-caret-right"></i>  &nbsp; &nbsp; Wacht Trailer</button>
                             </div>
                            
                            
                             
                            
                    </div>
                    <div class="col">
                    <div class="card-right-img">
                        <img src="../../assets/img/dwayne jhson sky.png" alt="">
                    </div>
                </div>
                </div>
            </div>

        </div>
    </div>
</div>