<div class="container-fluid bg-footer top-border">
    <div class="container"> 
        <div class="row">
            <div class="imdb-evry ">
                <h3>IMDb Everywhere</h3>
                <p>Find showtimes, watch trailers, browse photos, 
                    track your Watchlist and rate your favorite 
                    movies and TV shows your phone or tablet!</p>
            </div>
            <div class="top-links">
                <h3>Top Links</h3>
                <ul>
                    <li> <a >Contact Us</a> </li>
                    <li> <a >Account</a> </li>
                    <li> <a >Prees Room</a> </li>
                    <li> <a >Advertising</a> </li>
                    <li> <a >Jobs</a> </li>
                </ul>
            </div>
            <div class="box-office">
                <ul>
                    <li><a >IMDbPro</a></li>
                    <li><a >Box Office Mojo</a></li>
                    <li><a >Withoutabox</a></li>
                    <li><a >Conditions of Use</a></li>
                    <li><a >Privacy Policy</a></li>

                </ul>
            </div>
            <div class="box-office">
                <ul>
                    <li><a >Site Index</a></li>
                    <li><a >Search</a></li>
                    <li><a >In Tgeaters</a></li>
            

                </ul>
            </div>
      
        </div>
        <div class="bottom-content">
            <div class="row bot">
                <div class="left-content">
                       <p>Copyright © 2023 IMDB. All rights reserved.</p>
                </div>
                <div class="right-content">
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                </div>
            </div>
        </div>
    </div>
</div>