<div class="container-fluid">
    <div class="container">
    <div class="on-tv">
        <h3>ON TV</h3>
        <div class="Bottom-line"></div>
        <hr>
    </div>

    <section class="card-section">
       <div class="grid-container">
        
        <div class="grid-item grid-item-1">     
             <div class="card">
            <div class="row">
                <div class="card-left">
                   <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                </div>
                <div class="card-right">
                    <div class="row">
                     <div class="card-body">
                        <h3>CHEF'S TABLE(2015)</h3>
                        <p>s90e02</p>
                     </div>
                     <div class="more-colum">
                       <img src="../../assets/img/UI Kit.png" alt="">
                     </div>
                    </div>
                </div>
            </div>

        </div></div>
        <div class="grid-item grid-item-2"> 
            <div class="card">
                <div class="row">
                    <div class="card-left">
                       <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                    </div>
                    <div class="card-right">
                        <div class="row">
                         <div class="card-body">
                            <h3>CHEF'S TABLE(2015)</h3>
                            <p>s90e02</p>
                         </div>
                         <div class="more-colum">
                            <img src="../../assets/img/UI Kit.png" alt="">
                         </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        <div class="grid-item grid-item-3">
            <div class="card">
                <div class="row">
                    <div class="card-left">
                       <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                    </div>
                    <div class="card-right">
                        <div class="row">
                         <div class="card-body">
                            <h3>CHEF'S TABLE(2015)</h3>
                            <p>s90e02</p>
                         </div>
                         <div class="more-colum">
                            <img src="../../assets/img/UI Kit.png" alt="">
                         </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
        <div class="grid-item grid-item-4">     
            <div class="card">
           <div class="row">
               <div class="card-left">
                  <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
               </div>
               <div class="card-right">
                   <div class="row">
                    <div class="card-body">
                       <h3>CHEF'S TABLE(2015)</h3>
                       <p>s90e02</p>
                    </div>
                    <div class="more-colum">
                        <img src="../../assets/img/UI Kit.png" alt="">
                    </div>
                   </div>
               </div>
           </div>

       </div></div>
       <div class="grid-item grid-item-5">     
        <div class="card">
       <div class="row">
           <div class="card-left">
              <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
           </div>
           <div class="card-right">
               <div class="row">
                <div class="card-body">
                   <h3>CHEF'S TABLE(2015)</h3>
                   <p>s90e02</p>
                </div>
                <div class="more-colum">
                    <img src="../../assets/img/UI Kit.png" alt="">
                </div>
               </div>
           </div>
       </div>

   </div></div>
   <div class="grid-item grid-item-6">     
    <div class="card">
   <div class="row">
       <div class="card-left">
          <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
       </div>
       <div class="card-right">
           <div class="row">
            <div class="card-body">
               <h3>CHEF'S TABLE(2015)</h3>
               <p>s90e02</p>
            </div>
            <div class="more-colum">
                <img src="../../assets/img/UI Kit.png" alt="">
            </div>
           </div>
       </div>
   </div>

</div></div>
<div class="grid-item grid-item-7">     
    <div class="card">
   <div class="row">
       <div class="card-left">
          <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
       </div>
       <div class="card-right">
           <div class="row">
            <div class="card-body">
               <h3>CHEF'S TABLE(2015)</h3>
               <p>s90e02</p>
            </div>
            <div class="more-colum">
                <img src="../../assets/img/UI Kit.png" alt="">
            </div>
           </div>
       </div>
   </div>

</div></div>
<div class="grid-item grid-item-8">     
    <div class="card">
   <div class="row">
       <div class="card-left">
          <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
       </div>
       <div class="card-right">
           <div class="row">
            <div class="card-body">
               <h3>CHEF'S TABLE(2015)</h3>
               <p>s90e02</p>
            </div>
            <div class="more-colum">
                <img src="../../assets/img/UI Kit.png" alt="">
            </div>
           </div>
       </div>
   </div>

</div></div>
<div class="grid-item grid-item-9">     
    <div class="card">
   <div class="row">
       <div class="card-left">
          <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
       </div>
       <div class="card-right">
           <div class="row">
            <div class="card-body">
               <h3>CHEF'S TABLE(2015)</h3>
               <p>s90e02</p>
            </div>
            <div class="more-colum">
                <img src="../../assets/img/UI Kit.png" alt="">
            </div>
           </div>
       </div>
   </div>

</div></div>

       </div>

    </section>
</div>
</div>
<!-- in theatr -->
    <section>
        <div class="container-fluid ">
            <div class="inteathr-section ">
          <div class="container">
            
            <div class="intheatr">
                <h3>IN Theathers</h3>
                <div class="Bottom-line"></div>
                <hr>
            </div>
            <div class="grid-teatr-item">
                <div class="teatr-item1 position-r">
                    <img class="width5 img" src="../../assets/img/wrong driend.png" alt="">
                    <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                </div>
                
                <div class="teatr-item2 position-r">
                    <img class="width img" src="../../assets/img/ant man.png" alt="">
                    <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                </div>
                <div class="teatr-item3 position-r">
                    <img class="width img" src="../../assets/img/thor.png" alt="">
                    <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                
                </div>
              
                <div class="teatr-item4 position-r">
                    <img class="width img" src="../../assets/img/wrong.png" alt="">
                    <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                </div>
                <div class="teatr-item5 position-r">
                    <img class="width img" src="../../assets/img/scorp.png" alt="">
                    <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                </div>

            </div>
          </div>
        </div>

    </div>
    </section>
    <!-- lexsus ads -->
<section class="ads-fluid">
    <div class="container-fluid">
        <div class="adscolor">

        
        <div class="container">
           <div class="ads">
           <img src="../../assets/img/lexsus.png" alt="">
        </div> 
        </div>
    </div>
    </div>
</section>
<section>

    <div class="movie-card">

        <div class="card-body" *ngFor="let movie of MovielistData">
      
     
           <h1>{{MovielistData.title.id}}</h1>
            
            
        </div>
    </div>
</section>
