<router-outlet></router-outlet>
<div class="container-fluid">
    <div class="container">
        <div class="on-tv">
            <h3 class="h3">ON TV</h3>
            <div class="Bottom-line"></div>
            <hr>
        </div>

        <section class="card-section">
            <div class="grid-container">

                <div class="grid-item grid-item-1">
                    <div class="card">
                        <div class="row">
                            <div class="card-left">
                                <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                            </div>
                            <div class="card-right">
                                <div class="row">
                                    <div class="card-body">
                                        <h3>CHEF'S TABLE(2015)</h3>
                                        <p>s90e02</p>
                                    </div>
                                    <div class="more-colum">
                                        <img src="../../assets/img/UI Kit.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="grid-item grid-item-2">
                    <div class="card">
                        <div class="row">
                            <div class="card-left">
                                <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                            </div>
                            <div class="card-right">
                                <div class="row">
                                    <div class="card-body">
                                        <h3>CHEF'S TABLE(2015)</h3>
                                        <p>s90e02</p>
                                    </div>
                                    <div class="more-colum">
                                        <img src="../../assets/img/UI Kit.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="grid-item grid-item-3">
                    <div class="card">
                        <div class="row">
                            <div class="card-left">
                                <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                            </div>
                            <div class="card-right">
                                <div class="row">
                                    <div class="card-body">
                                        <h3>CHEF'S TABLE(2015)</h3>
                                        <p>s90e02</p>
                                    </div>
                                    <div class="more-colum">
                                        <img src="../../assets/img/UI Kit.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="grid-item grid-item-4">
                    <div class="card">
                        <div class="row">
                            <div class="card-left">
                                <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                            </div>
                            <div class="card-right">
                                <div class="row">
                                    <div class="card-body">
                                        <h3>CHEF'S TABLE(2015)</h3>
                                        <p>s90e02</p>
                                    </div>
                                    <div class="more-colum">
                                        <img src="../../assets/img/UI Kit.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="grid-item grid-item-5">
                    <div class="card">
                        <div class="row">
                            <div class="card-left">
                                <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                            </div>
                            <div class="card-right">
                                <div class="row">
                                    <div class="card-body">
                                        <h3>CHEF'S TABLE(2015)</h3>
                                        <p>s90e02</p>
                                    </div>
                                    <div class="more-colum">
                                        <img src="../../assets/img/UI Kit.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="grid-item grid-item-6">
                    <div class="card">
                        <div class="row">
                            <div class="card-left">
                                <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                            </div>
                            <div class="card-right">
                                <div class="row">
                                    <div class="card-body">
                                        <h3>CHEF'S TABLE(2015)</h3>
                                        <p>s90e02</p>
                                    </div>
                                    <div class="more-colum">
                                        <img src="../../assets/img/UI Kit.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="grid-item grid-item-7">
                    <div class="card">
                        <div class="row">
                            <div class="card-left">
                                <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                            </div>
                            <div class="card-right">
                                <div class="row">
                                    <div class="card-body">
                                        <h3>CHEF'S TABLE(2015)</h3>
                                        <p>s90e02</p>
                                    </div>
                                    <div class="more-colum">
                                        <img src="../../assets/img/UI Kit.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="grid-item grid-item-8">
                    <div class="card">
                        <div class="row">
                            <div class="card-left">
                                <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                            </div>
                            <div class="card-right">
                                <div class="row">
                                    <div class="card-body">
                                        <h3>CHEF'S TABLE(2015)</h3>
                                        <p>s90e02</p>
                                    </div>
                                    <div class="more-colum">
                                        <img src="../../assets/img/UI Kit.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="grid-item grid-item-9">
                    <div class="card">
                        <div class="row">
                            <div class="card-left">
                                <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                            </div>
                            <div class="card-right">
                                <div class="row">
                                    <div class="card-body">
                                        <h3>CHEF'S TABLE(2015)</h3>
                                        <p>s90e02</p>
                                    </div>
                                    <div class="more-colum">
                                        <img src="../../assets/img/UI Kit.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </section>
    </div>
</div>
<!-- in theatr -->
<section>
    <div class="container-fluid ">
        <div class="inteathr-section ">
            <div class="container">

                <div class="intheatr">
                    <h3 class="h3">IN Theathers</h3>
                    <div class="Bottom-line"></div>
                    <hr>
                </div>
                <div class="grid-teatr-item">
                    <div class="teatr-item1 position-r">
                        <img class="width5 img" src="../../assets/img/wrong driend.png" alt="">
                        <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                    </div>

                    <div class="teatr-item2 position-r">
                        <img class="width img" src="../../assets/img/ant man.png" alt="">
                        <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                    </div>
                    <div class="teatr-item3 position-r">
                        <img class="width img" src="../../assets/img/thor.png" alt="">
                        <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">

                    </div>

                    <div class="teatr-item4 position-r">
                        <img class="width img" src="../../assets/img/wrong.png" alt="">
                        <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                    </div>
                    <div class="teatr-item5 position-r">
                        <img class="width img" src="../../assets/img/scorp.png" alt="">
                        <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
<!-- lexsus ads -->
<section class="ads-fluid">
    <div class="container-fluid">
        <div class="adscolor">


            <div class="container">
                <div class="ads">
                    <img class="ads-img" src="../../assets/img/lexsus.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<section class="hide" [class.show]="show">
    <div class="container">
        <div class="intheatr">
            <h3 class="h3">Most Popular Movies</h3>
            <div class="Bottom-line"></div>
            <hr>
        </div>
        <div  class="movie-card">
           
      
            <div class="card-body1" routerLink="/MoviePage" *ngFor="let movie of MovielistData.pagination.data">
                <div class="position-r background-img ">
                    <img class="poster" src="{{movie.poster}}" alt="">
                    <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                </div>
                <p class="Movie-Name">{{movie.name}}</p>
                <p class="Movie-year">{{movie.year}}</p>
            </div>


        </div>
    </div>

</section>
<div class="container">
    <div class="show-more-center">
        <button class="show-more-movies" (click)="show = !show">
            <p>{{ show ? 'Show less': 'Show More' }}</p>
        </button>
    </div>

</div>
<section class="ads-fluid">
    <div class="container-fluid">
        <div class="adscolor">


            <div class="container">
                <div class="ads">
                    <img class="ads-img" src="../../assets/img/lexsus.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section>

    <div class="container-fluid">
        <div class="widheit">


            <div class="cover">

                <div class="cover-img">
                    <img src="../../assets/img/backcity.png" alt="">
                </div>
                <div class="container ">
                    <div class="com">


                        <div class="intheatr ">
                            <h3 class="h3">Coming Soon</h3>
                            <div class="Bottom-line"></div>
                            <hr>
                        </div>

                    </div>
                    <div class="coming-body-content" >
                        <h1 class="movie-name"></h1>
                        <div class="rating-stars">
                            <img src="../../assets/img/Rating Icons stars.png" alt="">
                            <span class="relase-data">07 September, 2018</span>
                            <div class="about-movie">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit. Hic rem ipsam fugiat aliquam, dolorem repellat
                                    corrupti itaque, sit, officiis similique labore qui.
                                    Earum animi doloribus maiores delectus et quasi
                                    suscipit.</p>

                            </div>
                            <a href="" class="more-info"> MORE INFO ></a>
                        </div>

                        <div class="coming-img-content">
                            <img src="../../assets/img/cate.png" alt="">
                        </div>
                    </div>

                </div>


                <div class="card-area">
                    <button class="left-click position-a">
                        <i (click)="LeftClick()" class="fa-solid fa-chevron-left"></i>
                    </button>

                    <button class="right-click position-a">
                        <i (click)="RightClick()" class="fa-solid fa-chevron-right"></i>
                    </button>
                    <div class="container over-flow">
                        <div class="carusel-items " [ngStyle]="carousel">

                            <div class="movie-card1">
                                <div class="grid-items">
                                    
                                    <div class="card-body2 card-body1" routerLink="/MoviePage" *ngFor="let movies of SliderData.lists ">
                                        <div class="position-r background-img ">

                                            <img class="poster1" src="{{movies.items[0].poster}} " alt="">

                                            <img class="position-a play-icon" src="../../assets/img/Play Icon.png"  alt="">
                                              
                                        </div>
                                        <p class="Movie-Name-font ">{{movies.items[0].name}}</p>
                                        <p class="Movie-Name-font">{{movies.items[0].year}}</p>
                                    </div>


                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>

</section>