<div class="container-fluid">

    <!-- carusel start -->

    <div class="container-fluid ">
        <div class="blur"></div>
        <div class="carousel">

            <div class="slide" *ngFor="let slide of slides.lists[1].items; let i = index"
                [ngClass]="{ active: i === currentSlide }">
                <div class="slid-cover">
                    <img class="slide-img" src="{{slide.backdrop}}" alt="Slide Image">


                </div>
                <div class="container">
                    
                        <div class="row">
                            <div class="card-body">
                                <div class="card-left-con">
                                    <h2 class="card-title">{{slide.name}} <span>{{slide.year}}</span></h2>
                                    <div class="movie-info">
                                        <p class="rating-border">5.9</p>
                                        <div class="movinf">
                                            <p>Ratings: <span>{{slide.rating}}</span>/10 from <span>137,182 users</span>
                                                &nbsp;
                                                Metascore:<span> 89</span>/100</p>

                                            <p>Reviews:<span>697 user</span> <span> 502 critic</span> &nbsp;
                                                <span>46</span>from
                                                <span> Metacritic.com</span>
                                            </p>


                                        </div>

                                    </div>
                                    <div class="mov-subtitle">
                                        <h3 *ngIf="slide.description">summary</h3>
                                        <p>{{slide.description}}</p>
                                    </div>
                                    <div class="director-writer">
                                        <p>Director:<span>Rawson Marshall Thurber </span> &nbsp; &nbsp; Writer:
                                            <span>Rawson
                                                Marshall Thurber</span></p>
                                    </div>
                                    <div class="stars-actor">
                                        <p>Stars: </p>
                                        <img src="../../assets/img/portrat duain.jpg" alt="">
                                        <img src="../../assets/img/dr strange.jfif" alt="">
                                        <img src="../../assets/img/portrat duain.jpg" alt="">
                                        <img src="../../assets/img/portrat duain.jpg" alt="">
                                        <img src="../../assets/img/portrat duain.jpg" alt="">
                                        <img src="../../assets/img/portrat duain.jpg" alt="">
                                        <img src="../../assets/img/portrat duain.jpg" alt="">
                                        <img src="../../assets/img/portrat duain.jpg" alt="">
                                        <button class="more-btn">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </button>
                                    </div>
                                    <div class="wach-list">
                                        <button class="trailer">+ &nbsp; &nbsp; Wacht List</button>
                                        <button class="trailer"> <i class="fa-solid carett fa-caret-right"></i> &nbsp;
                                            &nbsp;
                                            Wacht
                                            Trailer</button>
                                    </div>
                                </div>







                                <div class="card-right-img">
                                    <a [routerLink]="'/MoviePage/' + slide.id "> <img src="{{slide.poster}}" alt=""></a>


                                </div>
                            </div>
                        </div>
                    

                </div>
            </div>

        </div>
        <button class="slider-btn btn-left" (click)="previousSlide()"><i class="fa-solid fa-chevron-left"></i></button>
        <button class="slider-btn btn-right" (click)="nextSlide()"><i class="fa-solid fa-chevron-right"></i></button>

    </div>

    <!-- carusel end  -->
    <div class="container-fluid">
        <div class="container">
            <div class="on-tv">
                <h3 class="h3">ON TV</h3>
                <div class="Bottom-line"></div>
                <hr>
            </div>

            <section class="card-section">
                <div class="grid-container">

                    <div class="grid-item grid-item-1">
                        <div class="card">
                            <div class="row">
                                <div class="card-leftt">
                                    <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                                </div>
                                <div class="card-rightt">
                                    <div class="row">
                                        <div class="card-bodyy">
                                            <h3>CHEF'S TABLE(2015)</h3>
                                            <p>s90e02</p>
                                        </div>
                                        <div class="more-colum">
                                            <img src="../../assets/img/UI Kit.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="grid-item grid-item-1">
                        <div class="card">
                            <div class="row">
                                <div class="card-leftt">
                                    <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                                </div>
                                <div class="card-rightt">
                                    <div class="row">
                                        <div class="card-bodyy">
                                            <h3>CHEF'S TABLE(2015)</h3>
                                            <p>s90e02</p>
                                        </div>
                                        <div class="more-colum">
                                            <img src="../../assets/img/UI Kit.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="grid-item grid-item-1">
                        <div class="card">
                            <div class="row">
                                <div class="card-leftt">
                                    <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                                </div>
                                <div class="card-rightt">
                                    <div class="row">
                                        <div class="card-bodyy">
                                            <h3>CHEF'S TABLE(2015)</h3>
                                            <p>s90e02</p>
                                        </div>
                                        <div class="more-colum">
                                            <img src="../../assets/img/UI Kit.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="grid-item grid-item-1">
                        <div class="card">
                            <div class="row">
                                <div class="card-leftt">
                                    <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                                </div>
                                <div class="card-rightt">
                                    <div class="row">
                                        <div class="card-bodyy">
                                            <h3>CHEF'S TABLE(2015)</h3>
                                            <p>s90e02</p>
                                        </div>
                                        <div class="more-colum">
                                            <img src="../../assets/img/UI Kit.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="grid-item grid-item-1">
                        <div class="card">
                            <div class="row">
                                <div class="card-leftt">
                                    <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                                </div>
                                <div class="card-rightt">
                                    <div class="row">
                                        <div class="card-bodyy">
                                            <h3>CHEF'S TABLE(2015)</h3>
                                            <p>s90e02</p>
                                        </div>
                                        <div class="more-colum">
                                            <img src="../../assets/img/UI Kit.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="grid-item grid-item-1">
                        <div class="card">
                            <div class="row">
                                <div class="card-leftt">
                                    <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                                </div>
                                <div class="card-rightt">
                                    <div class="row">
                                        <div class="card-bodyy">
                                            <h3>CHEF'S TABLE(2015)</h3>
                                            <p>s90e02</p>
                                        </div>
                                        <div class="more-colum">
                                            <img src="../../assets/img/UI Kit.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="grid-item grid-item-1">
                        <div class="card">
                            <div class="row">
                                <div class="card-leftt">
                                    <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                                </div>
                                <div class="card-rightt">
                                    <div class="row">
                                        <div class="card-bodyy">
                                            <h3>CHEF'S TABLE(2015)</h3>
                                            <p>s90e02</p>
                                        </div>
                                        <div class="more-colum">
                                            <img src="../../assets/img/UI Kit.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="grid-item grid-item-1">
                        <div class="card">
                            <div class="row">
                                <div class="card-leftt">
                                    <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                                </div>
                                <div class="card-rightt">
                                    <div class="row">
                                        <div class="card-bodyy">
                                            <h3>CHEF'S TABLE(2015)</h3>
                                            <p>s90e02</p>
                                        </div>
                                        <div class="more-colum">
                                            <img src="../../assets/img/UI Kit.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="grid-item grid-item-1">
                        <div class="card">
                            <div class="row">
                                <div class="card-leftt">
                                    <a href=""><img src="../../assets/img/chef-table.png" alt=""></a>
                                </div>
                                <div class="card-rightt">
                                    <div class="row">
                                        <div class="card-bodyy">
                                            <h3>CHEF'S TABLE(2015)</h3>
                                            <p>s90e02</p>
                                        </div>
                                        <div class="more-colum">
                                            <img src="../../assets/img/UI Kit.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </section>
        </div>
    </div>
    <!-- in theatr -->
    <section>
        <div class="container-fluid ">
            <div class="inteathr-section ">
                <div class="container">

                    <div class="intheatr">
                        <h3 class="h3">IN Theathers</h3>
                        <div class="Bottom-line"></div>
                        <hr>
                    </div>
                    <div class="grid-teatr-item">
                        <div class="teatr-item1 position-r">
                            <img class="width5 img" src="../../assets/img/wrong driend.png" alt="">
                            <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                        </div>

                        <div class="teatr-item2 position-r">
                            <img class="width img" src="../../assets/img/ant man.png" alt="">
                            <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                        </div>
                        <div class="teatr-item3 position-r">
                            <img class="width img" src="../../assets/img/thor.png" alt="">
                            <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">

                        </div>

                        <div class="teatr-item4 position-r">
                            <img class="width img" src="../../assets/img/wrong.png" alt="">
                            <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                        </div>
                        <div class="teatr-item5 position-r">
                            <img class="width img" src="../../assets/img/scorp.png" alt="">
                            <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- lexsus ads -->
    <section class="ads-fluid">
        <div class="container-fluid">
            <div class="adscolor">


                <div class="container">
                    <div class="ads">
                        <img class="ads-img" src="../../assets/img/lexsus.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hide" [class.show]="show">
        <div class="container">
            <div class="intheatr">
                <h3 class="h3">Most Popular Movies</h3>
                <div class="Bottom-line"></div>
                <hr>
            </div>

            <div class="movie-card">


                <div class="card-body1" *ngFor="let movies of MovielistData.pagination.data">
                    <a [routerLink]="'/MoviePage/' + movies.id ">

                        <div class="position-r background-img ">
                            <img class="poster" src="{{movies.poster}}" alt="">
                            <img class="position-a play-icon" src="../../assets/img/Play Icon.png" alt="">
                        </div>
                        <p class="Movie-Name">{{movies.name}} </p>
                        <p class="Movie-year">{{movies.year}}</p>
                    </a>
                </div>


            </div>

        </div>

    </section>
    <div class="container">
        <div class="show-more-center">
            <button class="show-more-movies" (click)="show = !show">
                <p>{{ show ? 'Show less': 'Show More' }}</p>
            </button>
        </div>

    </div>
    <section class="ads-fluid">
        <div class="container-fluid">
            <div class="adscolor">


                <div class="container">
                    <div class="ads">
                        <img class="ads-img" src="../../assets/img/lexsus.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>

        <div class="container-fluid">
            <div class="widheit">


                <div class="cover">

                    <div class="cover-img">
                        <img src="../../assets/img/backcity.png" alt="">
                    </div>
                    <div class="container" *ngIf="selectedMovie">
                        <div class="com">


                            <div class="intheatr color-coming-soon-title">
                                <h3 class="h3">Coming Soon</h3>
                                <div class="Bottom-line"></div>
                                <hr>
                            </div>

                        </div>
                        <div class="coming-body-content">
                            <h1 class="movie-name">{{selectedMovie.name}}</h1>
                            <div class="rating-stars">
                                <img src="../../assets/img/Rating Icons stars.png" alt="">
                                <span class="relase-data">{{selectedMovie.release_date | slice : 0 : 10}}</span>
                                <div class="about-movie">
                                    <p>{{selectedMovie.description}}</p>

                                </div>
                                <a *ngIf="selectedMovie.description" href="" class="more-info"> MORE INFO ></a>
                            </div>


                        </div>
                        <a [routerLink]="'/MoviePage/' + selectedMovie.id ">

                            <div class="coming-img-content">
                                <img src="{{selectedMovie.backdrop}}" alt="">
                            </div>
                        </a>
                    </div>


                    <div class="card-area">
                        <button class="left-click position-a">
                            <i (click)="LeftClick()" class="fa-solid fa-chevron-left"></i>
                        </button>

                        <button class="right-click position-a">
                            <i (click)="RightClick()" class="fa-solid fa-chevron-right"></i>
                        </button>
                        <div class="container over-flow">
                            <div class="carusel-items " [ngStyle]="carousel">

                                <div class="movie-card1">
                                    <div class="grid-items">

                                        <div class="card-body2 card-body1"
                                            *ngFor="let movie of MovielistData.pagination.data">

                                            <div class="position-r background-img " class="movie-card"
                                                (click)="setSelectedMovie(movie)">

                                                <img class="poster1" src="{{movie.poster}} " alt="">

                                                <img class="position-a play-icon" src="../../assets/img/Play Icon.png"
                                                    alt="">

                                            </div>
                                            <p class="Movie-Name-font ">{{movie.name}}</p>
                                            <p class="Movie-Name-font">{{movie.year}}</p>

                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </div>

    </section>
    <section class="Born">
        <div class="container">


            <div class="intheatr capital">
                <h3 class="h3">born today</h3>
                <div class="Bottom-line"></div>
                <hr>
            </div>


            <div class="grid-containerr">
                <div class="grid-itemm" *ngFor="let movlist of MovieStar.pagination.data   ">
                    <img src="{{movlist.poster}}" alt="">
                    <p>{{movlist.name }}</p>
                    <p>{{movlist.birth_date }}</p>
                </div>

            </div>





            <div class="intheatr capital">
                <h3 class="h3">celebrity news</h3>
                <div class="Bottom-line"></div>
                <hr>
            </div>
            <div>

            </div>
            <div class="grid-containeri">
                <div class="grid-itemm-1  main-celebrity" *ngFor="let movlist of MovieStar.pagination.data">
                    <div class="gr">
                        <span class="birth-data">{{movlist.birth_date| slice : 5 : 20}}</span>
                        <span class="star-name">{{movlist.name}}</span>
                        <p class="star-about">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Distinctio vero modi in atque ducimus,
                            error ex accusantium amet ipsa dignissimos
                            sint placeat ipsum impedit dicta magni tempora
                            rerum esse quam repellat illo labore necessitatibus
                            ullam. Natus quo molestiae dolorum, esse odio deleniti,
                            necessitatibus expedita dolore minus corporis harum at maxime!
                        </p>
                        <br>
                        <br>
                        <p class="star-about2 star-about">
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Unde voluptatibus nobis cupiditate, explicabo illum quis.
                            Consectetur facere explicabo vitae alias! Dolor consectetur pariatur,
                            est unde vitae excepturi molestiae eos quos et, alias quo.
                            Enim numquam adipisci aliquid minima eius in itaque illo vel,
                            nam eos id cum odit laudantium laboriosam fugit,
                            voluptatem impedit assumenda labore aperiam natus? Consequatur,
                            quis? Velit architecto,
                            numquam minus accusamus dolor pariatur quae enim sed dignissimos
                            laboriosam quidem facere asperiores dolores quasi illo repudiandae
                            excepturi blanditiis tenetur consequatur expedita adipisci eligendi ipsam.
                            Voluptatem molestiae omnis ab iusto, suscipit totam cupiditate.
                            Nemo dolorem iusto dolore. Quis, eius.
                        </p>

                    </div>
                </div>

            </div>


        </div>




    </section>


    <section class="ads-fluid">
        <div class="container-fluid">
            <div class="adscolor">


                <div class="container">
                    <div class="ads">
                        <img class="ads-img" src="../../assets/img/lexsus.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- last content start -->


    <section>
<div class="container">
    <div class="capital serials-tvshows">
        <button>
            <h3 class="h3 seri" >Popular Serials</h3>

        </button>
        <button>
            <h3 class="h3 tvshow">Popular TV Shows</h3>  
        </button>
      
    </div>
    <div class="Bottom-linee w127"></div>
    <hr class="hrrh">
    <div class="grid-container-last" >
        <div class="grid-items-last" *ngFor="let movie of SerialsData.pagination.data ">
            <img  src="{{movie.backdrop }}" alt="">
            <p>{{movie.name}} ({{movie.year}})</p>
        </div>

    </div>

</div>

    </section>

        <!-- last content end -->