<div class="navbar">
    <div class="container-fluid ">
        <div class="backfilter container">
              <div class="container">
            <div class="row">
                <div class="backroundtransp">
                       <ul class="text-uppercase discover navbarlist">
                    <li ><a class=" "   routerLink="/MoviePage"  routerLinkActive="router-link-active">discover</a> </li>
                
                    <li class="drophover"><a  routerLinkActive="router-link-active" >movies</a>   <div class="dropdown">
                        <div class="dropdown-content text-uppercase">
                            <a class="text-white" routerLinkActive="router-link-active" >popular</a>
                            <a class="text-white" routerLinkActive="router-link-active" >top rated</a>
                            <a class="text-white" routerLinkActive="router-link-active" >up coming</a>
                            <a class="text-white" routerLinkActive="router-link-active" >naw playng</a>
                        </div>
                    </div></li>
                  
                    <li><a routerLinkActive="router-link-active">tv shows</a>  </li>
                    <li><a routerLinkActive="router-link-active">people</a> </li>
                    <li><a routerLinkActive="router-link-active">tv</a> </li>
                </ul>
                </div>
             
            </div>
        </div>
        </div>
        
      
    </div>
</div>