<div class="navbar">
    <div class="container-fluid ">
        <div class="backfilter container">
              <div class="container">
            <div class="row">
                <div class="backroundtransp">
                       <ul class="text-uppercase discover navbarlist">
                    <li ><a class="active" href="#">discover</a> </li>
                
                    <li class="drophover"><a  href="#">movies</a>   <div class="dropdown">
                        <div class="dropdown-content text-uppercase">
                            <a class="text-white" href="#">popular</a>
                            <a class="text-white" href="#">top rated</a>
                            <a class="text-white" href="#">up coming</a>
                            <a class="text-white" href="#">naw playng</a>
                        </div>
                    </div></li>
                  
                    <li><a href="#">tv shows</a>  </li>
                    <li><a href="#">people</a> </li>
                    <li><a href="#">tv</a> </li>
                </ul>
                </div>
             
            </div>
        </div>
        </div>
        
      
    </div>
</div>