<div class="container-fluid" >
    <div class="cover-photo" >
        <img src="../../assets/img/galveston.png" alt="">
      </div>
      <div class="container">

        <div class="play-trailer">

            <div class="play-icon">
                <img src="../../assets/img/Play Button.png" alt="">
            </div>
        </div>
        <div class="watch-buttons">
            <button class="btn watch-list"> + &nbsp; &nbsp; Wacht List &nbsp; &nbsp; <i
                    class="fa-solid carett fa-caret-down"></i> </button>
            <button class="btn watch-trailer"> <i class="fa-solid carett fa-caret-right"></i> &nbsp; &nbsp;
                watch-trailer</button>

        </div>
        <div class="movie-poster">
            <img src="">
        </div>
    </div>
</div>