.container-fluid {
    width: 1920px;
    max-width: 100%;
    margin: auto;
}

.container {
    width: 1140px;
    max-width: 100%;
    margin: auto;
}

body {
    margin: 0px;
    box-sizing: border-box;
    background-color: #f3f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}

ul li {
    list-style: none
}

a {
    text-decoration: none;
}

a.router-link-active {
    color: #ffc107 !important;
}

li a {
    cursor: pointer;
}

.cover-photo {
    // opacity: 0.702;
    width: 100%;
    // height: 733px;
    position: relative;
    // background-image: linear-gradient(43deg, #615954 0%, #615954 100%);
    z-index: -1;

    img {

object-fit:cover ;
        width: 100%;
        height: 838px;
        max-width: 100%;
    }
}

.container-ab {
    .watch-buttons {
        margin-top: 30px;
        float: right;

        .watch-list {
            cursor: pointer;
            background-color: #ffffff;
            width: 200px;
            height: 50px;
            border-radius: 3px;
            border: none;
            font-family: myral;
            font-size: 14px;
            text-transform: uppercase;
            color: #171717;
            font-weight: bold;
            margin-right: 17px;
            border: none;
            width: 200px;
            max-width: 100%;
            height: 50px;
            border-radius: 3px;
            background-color: #ffffff;


        }

        .watch-trailer {
            cursor: pointer;
            background-color: #ffffff;
            width: 200px;
            height: 50px;
            border-radius: 3px;
            border: none;
            font-family: myral;
            font-size: 14px;
            text-transform: uppercase;
            color: #171717;
            font-weight: bold;
            margin-right: 17px;
            border: none;
            width: 200px;
            max-width: 100%;
            height: 50px;
            border-radius: 3px;
            background-color: #ffffff;
        }

        .watch-list:hover {
            background-color: #e1af12;
        }



        .watch-trailer:hover {
            background-color: #e1af12;
        }



    }

    position: absolute;
    top: 155px;
    left: 0;
    right: 0;



    .play-trailer {
        mix-blend-mode: multiply;
        width: 100%;
        height: 590px;
        border-radius: 5px;
        filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.7));
        background-color: #ffffff;
        border: 1px solid #ffffff;

        .play-icon {
            text-align: center;

            img {
                position: absolute;
                top: 47%;
                left: 50%;

            }
        }

    }
}

.movie-poster {
    width: 400px;
    max-width: 100%;

    .poster-ab {

        width: 100%;
        max-width: 100%;
        border-radius: 6px;
        margin-top: -70%;

    }

}

.details-section {
    .container {
        .row {

            display: flex;

            .left-container {
                width: 33.3%;
                margin-right: 30px;

                .trailer {
                    margin-top: 30px;
                    width: 400px;
                    max-width: 100%;

                    .poster-trailer {
                        width: 100%;
                        max-width: 100%;
                        border-radius: 5px;
                    }
                }
            }

            .right-container {
                width: 66.6%;
            }


.detals{
    margin-top: 40px;
}
            // margin-top: 120px;
            .movie-detals {
                .tech {
                    .blue-color {
                        color: #096afb;
                        text-transform: uppercase;
                    }

                    width: 40%;
                    max-width: 100%;

                    .grey-color {
                        font-size: 14px;
                        color: #a3a3a3;
                        text-transform: capitalize;
                        font-family: "Panton Nusx3";
                    }

                    h4 {
                        font-size: 18px;
                        color: #171717;
                        font-weight: bold;
                        font-family: "Panton Nusx3";

                    }

                    p {
                        font-size: 14px;
                        font-weight: bold;
                        text-transform: capitalize;
                        font-family: "Panton Nusx3";
                        color: #171717;
                    }
                }

                .det {
                    .blue-color {
                        color: #096afb;
                    }

                    width: 60%;
                    max-width: 100%;

                    .grey-color {
                        font-size: 14px;
                        color: #a3a3a3;
                        text-transform: capitalize;
                        font-family: "Panton Nusx3";
                    }

                    h4 {
                        font-size: 18px;
                        color: #171717;
                        font-weight: bold;
                        font-family: "Panton Nusx3";

                    }

                    p {
                        font-size: 14px;
                        font-weight: bold;
                        text-transform: uppercase;
                        font-family: "Panton Nusx3";
                        color: #171717;
                    }
                }

                .summary {
                    margin-bottom: 30px;
                    margin-top: 30px;

                    span {

                        font-size: 14px;
                        text-transform: uppercase;
                        color: #a3a3a3;
                        font-family: "Panton Nusx3";
                    }
                }


                .movie-name {
                    .orang-text {
                        color: #ffc107;
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

.movie-info {
    display: flex;
    align-items: center;

    .movinf {
        display: flex;
        flex-direction: column;
    }

    span {
        color: #343434;
        font-family: myral;
        font-size: 14px;
    }

    p {
        font-size: 14px;
        font-family: myral;
        color: #a3a3a3;
    }

    .rating-border {
        width: 83px;
        height: 83px;
        border: 5px solid #e1af12;
        border-radius: 50%;
        color: #e1af12 !important;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 5px solid #685d50;
        font-size: 32px !important;
        font-weight: bold;
        margin-right: 20px;


    }

}

.director {
    width: 30%;
    max-width: 30%;

    h4 {
        text-transform: capitalize;
    }

    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .span {
        color: #6e6e6e;
        font-size: 14px;
        text-transform: capitalize;

    }
}