<section>
    <div class="container-fluid">
        <div class="cover-photo">
            <img src="{{BackMoviePageData.title.backdrop}}" alt="">
        </div>
        <div class="container-ab container">


            <div class="play-trailer">

                <div class="play-icon">
                    <img src="../../assets/img/Play Button.png" alt="">
                </div>
            </div>

            <div class="watch-buttons">
                <button class="btn watch-list"> + &nbsp; &nbsp; Wacht List &nbsp; &nbsp; <i
                        class="fa-solid carett fa-caret-down"></i> </button>
                <button class="btn watch-trailer"> <i class="fa-solid carett fa-caret-right"></i> &nbsp; &nbsp;
                    watch-trailer</button>
            </div>

        </div>
    </div>
</section>

<section class="details-section">
    <div class="container">
        <div class="row">



            <div class="left-container">
                <div class="movie-poster">
                    <img class="poster-ab" src="{{BackMoviePageData.title.poster}}">
                </div>
                <div class="trailer">
                    <img class="poster-trailer" src="{{BackMoviePageData.title.images[0].url}}">
                </div>


            </div>

            <div class="right-container">

                <div class="movie-detals">
                    <h1 class="movie-name">{{BackMoviePageData.title.name}}
                        <span class="orang-text">({{BackMoviePageData.title.year}})</span>
                    </h1>
                    <div class="summary">
                        <span>SUMMARY</span>
                        <p>{{BackMoviePageData.title.description}} </p>
                    </div>
                    <div class="detals">
                        <div class="row">
                            <div class="det">
                                <h4>Details</h4>
                                <p> <span class="grey-color">Release Date:</span>
                                    {{BackMoviePageData.title.release_date | slice : 0 : 10}} </p>

                                <p class="blue-color">
                                    <span class="grey-color">type:</span> {{BackMoviePageData.title.type}}
                                </p>

                                <p class="blue-color"><span class="grey-color">Language:</span>
                                    {{BackMoviePageData.title.language}}</p>
                                <p class="blue-color"><span class="grey-color">popularity:
                                    </span>{{BackMoviePageData.title.popularity}}</p>
                                <p><span class="grey-color">views:</span> {{BackMoviePageData.title.views}}</p>

                            </div>

                            <div class="tech">
                                <h4>Technical Specs</h4>
                                <p> <span class="grey-color">Runtime:</span> {{BackMoviePageData.title.runtime}} mins
                                </p>
                                <p> <span class="grey-color">popularity:</span> {{BackMoviePageData.title.popularity}}
                                </p>



                            </div>
                        </div>
                    </div>

                </div>
                <div class="movie-info">
                    <p class="rating-border">5.9</p>
                    <div class="movinf">
                        <p>Ratings: <span>5.9</span>/10 from <span>137,182 users</span> &nbsp;
                            Metascore:<span> 89</span>/100</p>

                        <p>Reviews:<span>697 user</span> <span> 502 critic</span> &nbsp; <span>46</span>from
                            <span> Metacritic.com</span>
                        </p>


                    </div>

                    <div class="director-writer-stars">
                       <div class="director">
                        <h4>director</h4>
                        <img src="" alt=""> <span></span>
                       </div>

                    </div>
                </div>

            </div>

        </div>
    </div>



</section>