/* You can add global styles to this file, and also import other style files */

.container-fluid{
    width: 1920px;
    max-width: 100%;
    margin: auto;
}
.container{
   width:  1140px;
   max-width: 100%;
   margin: auto;
}
body {
    margin: 0px;
    box-sizing: border-box;
}

 h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    font-weight: bold;
    color: rgb(51, 51, 51);
}
ul li {
    list-style: none
}
a{
    text-decoration: none;
}
a.router-link-active{
    color: #ffc107!important;
}
li a {
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
